<?xml version='1.0' encoding='utf-8'?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">
  <display-name>Archetype Created Web Application</display-name>
   	<servlet>
		<servlet-name>Get-Nodes</servlet-name>
		<servlet-class>edu.isi.serverbackend.Servlet.LinkRankServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get-Nodes</servlet-name>
		<url-pattern>/rankServlet</url-pattern>
	</servlet-mapping> 
	
	<servlet>
        <servlet-name>LiveDemo</servlet-name>
        <servlet-class>edu.isi.serveletdemo.LiveDemoPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LiveDemo</servlet-name>
        <url-pattern>/liveDemo</url-pattern>
    </servlet-mapping> 
</web-app>
